beautifulsoup4==4.7.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
futures==3.1.1
fuzzywuzzy==0.17.0
gender-detector==0.1.0
goslate==1.5.1
idna==2.8
IMDbPY==6.6
lxml==4.6.5
nltk==3.4
PyDictionary==1.5.2
requests==2.21.0
singledispatch==3.4.0.3
six==1.12.0
soupsieve==1.8
SQLAlchemy==1.2.18
urllib3==1.24.1
